*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Kassa/dist/
/Kassa/build/
/Les4/nbproject/private/
/Les4/build/
/Les4/dist/
/DierenPlanner/nbproject/private/
/DierenPlanner/build/
/DierenPlanner/dist/
/Tentamen 1.1/nbproject/private/
/Tentamen 1.1/build/
/Tentamen 1.1/dist/
/lesclass/nbproject/private/
/lesclass/build/
/lesclass/dist/